$bg-main: #fcd7b6;

$orange70: #fde7d3;
$orange60: #feefe2;
$orange50: #fef7f0;

$blue80: #1f2044;
$blue70: #243f4d;
$blue60: #436372;
$blue40: #a3bbc8;
$blue30: #dae4e9;

$grey92: #262626;
$grey90: #414141;
$grey80: #585858;
$grey70: #8b8b8b;
$grey60: #7b7b7b;
$grey50: #e8e4df;
$grey40: #fefefe;
$grey35: #b3b7b5;
$grey34: #e0e0e0;
$grey20: #f8f8f8;

$white90: #fef7f0;
$white80: #edf1f4;

$black90: #191919;

$xl: 1440px;
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 480px;