$bg-main: #fcd7b6;

$orange70: #fde7d3;
$orange60: #feefe2;
$orange50: #fef7f0;

$blue80: #1f2044;
$blue75: #222933;
$blue70: #243f4d;
$blue60: #436372;
$blue55: #597583;
$blue50: #687b85;
$blue45: #526278;
$blue40: #a3bbc8;
$blue30: #dae4e9;
$blue20: #edf1f4;

$grey92: #262626;
$grey90: #414141;
$grey80: #585858;
$grey70: #8b8b8b;
$grey60: #7b7b7b;
$grey57: #f2f2f2;
$grey55: #ebebeb;
$grey50: #e8e4df;
$grey45: #e5e5e5;
$grey40: #fefefe;
$grey35: #b3b7b5;
$grey34: #e0e0e0;
$grey20: #f8f8f8;

$white90: #fef7f0;
$white80: #edf1f4;
$white70: #e6eaf0;
$white60: #fbfbfb;
$white50: #fafafa;
$white40: #f6f6f6;

$black90: #191919;
$black70: #333;
$black65: #666;
$black60: #4c4c4c;
$black55: #999;
$black50: #9a9a9a;
$black45: #a1a1a1;

$xl: 1440px;
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 480px;