@import "fonts";
@import "vars";
@import "reset";
@import "mixins";
@import "libs";
@import "global";

.btn-effect {
    border: 2px solid transparent;
    outline-color: transparent;
    box-shadow: 0 0 0 0;
    transition: box-shadow 0.3s, background-color 0.3s, border-color 0.3s;

    &:focus {
        box-shadow: 0 0 20px rgba($grey90, 1);
    }

    &:hover {
        background-color: rgba($blue70, 0.8);
    }

    &:active {
        border-color: $grey90;
    }
}

.mix-filter {
    display: flex;
    justify-content: space-between;
    max-width: 430px;
    padding: 0 30px;
    font-family: "DMSans", sans-serif;
    font-weight: 700;

    &__btn {
        color: $grey70;
        background-color: transparent;
        border: none;
        outline-color: transparent;
        box-shadow: 0 0 0 0 transparent;
        transition: color 0.3s, outline-color 0.3s, box-shadow 0.3s;

        &:focus {
            box-shadow: 0 0 20px rgba($grey90, 1);
        }

        &:hover {
            color: $black90;
        }

        &:active {
            color: $blue70;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        }
    }
}

.circle-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: $white80;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px;
    border: 1px solid $blue30;
    border-radius: 50%;
    outline-color: transparent;
}

.header {
    padding: 45px 0;

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: "Rubik", sans-serif;
        font-weight: 500;
    }
}

.logo {
    display: inline-block;
    border: 1px solid transparent;
    outline-color: transparent;
    box-shadow: 0 0 0 0;
    transition: box-shadow 0.3s, transform 0.3s, border-color 0.3s;
    transform: scale(1);

    &__img {
        object-fit: contain;
        max-width: 150px;
        max-height: 40px;
    }

    &:focus {
        box-shadow: 0 0 20px rgba($grey90, 1);
    }

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        border-color: rgb(168, 166, 166);
    }
}

.menu {
    display: flex;
    margin-left: 180px;

    &__item:not(:last-child) {
        margin-right: 35px;
    }

    &__link {
        padding: 10px 0;
    }
}

.link-effect {
    border-bottom: 1px solid transparent;
    outline-color: transparent;
    box-shadow: 0 0 0 0;
    transition: border-bottom 0.3s, box-shadow 0.3s, color 0.3s;

    &:focus {
        box-shadow: 0 0 20px rgba($grey90, 1);
    }

    &:hover {
        border-color: $blue60;
    }

    &:active {
        color: rgba($blue60, 0.6);
    }
}

.user-nav {
    display: flex;

    &__svg {
        width: 18px;
        height: 16px;
        fill: $blue70;
        transition: fill 0.3s;
    }

    &__btn {
        &:not(:last-child) {
            margin-right: 20px;
        }

        &:hover {
            background-color: $blue40;

            .user-nav__svg {
                fill: #fff;
            }
        }
    }

    &__num {
        position: absolute;
        top: 10px;
        left: calc(50% + 3px);
        display: inline-block;
        padding: 0 6px;
        overflow-x: hidden;
        font-size: 10px;
        color: $blue70;
        text-align: center;
        background-color: #fff;
        border-radius: 50%;
    }

    &__btn--dots {
        background-image: url("../images/header/dots.png");
    }

    &__links {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        text-align: center;
    }

    &__link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 50px;
        font-family: "DMSans", sans-serif;
        font-weight: 400;
        background-color: $bg-main;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 16px;
        border: 1px solid transparent;
        outline-color: transparent;
        box-shadow: 0 0 0 0;
        transition: background-color 0.3s, box-shadow 0.3s, border-color 0.3s;

        &:first-child {
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
        }

        &:last-child {
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
        }

        &:not(:last-child)::after {
            position: absolute;
            top: 10px;
            right: 0;
            display: block;
            width: 1px;
            height: 32px;
            content: "";
            background-color: $orange70;
        }

        &:focus {
            box-shadow: 0 0 20px rgba($grey90, 1);
        }

        &:hover {
            background-color: $orange70;
        }

        &:active {
            border-color: $grey90;
        }

        &--heart {
            background-image: url("../images/header/heart.png");
        }

        &--cart {
            background-image: url("../images/header/cart.png");
        }
    }
}

.top-slider {
    &__item {
        max-height: 820px;
        background-color: $bg-main;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 225px;
        padding-bottom: 285px;
        margin: auto 0;
        margin-bottom: 15px;
    }

    &__info {
        max-width: 470px;
        margin-right: 60px;
        font-family: "Rubik", sans-serif;
        font-weight: 400;
        line-height: 1.6;
        color: $blue60;
    }

    &__title {
        margin-bottom: 25px;
        font-family: "Rubik", sans-serif;
        font-size: 72px;
        font-weight: 500;
        line-height: 1;
        color: $blue70;
        text-transform: uppercase;

        @include l-clamp(2);
    }

    &__text {
        max-width: 360px;
        margin-bottom: 40px;
        font-size: 18px;

        @include l-clamp(5);
    }

    &__img {
        object-fit: contain;
        max-width: 750px;
        max-height: 640px;
    }

    .slick-dots {
        position: absolute;
        bottom: 45px;
        display: flex;
        justify-content: center;
        width: 100%;
        font-family: "Rubik", sans-serif;
        font-size: 11px;
        font-weight: 500;

        li {
            button {
                width: 30px;
                height: 30px;
                background-color: #fff;
                border: 1px solid transparent;
                border-radius: 50%;
                opacity: 0.5;
                transition: opacity 0.3s, transform 0.3s, border-color 0.3s;
                transform: scale(1);

                &:focus {
                    transform: scale(1.2);
                }

                &:hover {
                    opacity: 1;
                }

                &:active {
                    border-color: $blue60;
                }
            }

            &.slick-active button {
                opacity: 1;
            }
        }

        li:not(:last-child) {
            margin-right: 13px;
        }
    }
}

.square-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 200px;
    max-height: 60px;
    padding: 18px 19px;
    overflow: hidden;
    font-size: 15px;
    color: #fff;
    background-color: $blue40;

    &__svg {
        width: 22px;
        height: 12px;
        fill: #fff;
    }
}

.features {
    display: flex;
    color: $grey80;
    background-color: $white90;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 600px;
        min-height: 170px;

        &:not(:last-child) {
            border-right: 1px solid $grey50;
        }
    }

    &__content {
        position: relative;
        padding-left: 70px;

        &--support::before {
            background-image: url("../images/icons/support.png");
        }

        &--delivery::before {
            background-image: url("../images/icons/delivery.png");
        }

        &--payment::before {
            background-image: url("../images/icons/payment.png");
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 52px;
            height: 53px;
            content: "";
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
        }
    }

    &__text {
        max-width: 214px;
    }

    &__subtitle {
        font-family: "DMSans", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 2.2;
    }
}

.products-week {
    padding: 65px 0 100px;
    color: $blue60;

    .container {
        padding: 0;
    }

    .title {
        margin-bottom: 10px;
    }

    .mix-filter {
        margin: 0 auto 80px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 160px;
    }

    &__item {
        width: 100%;
        max-width: 270px;
        min-height: 380px;
        padding: 40px 20px 35px 20px;
        margin: 0 15px 30px;
        font-family: "DMSans", sans-serif;
        font-weight: 700;
        text-align: center;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    &__offers {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__offer {
        width: 870px;
        height: 390px;
        padding: 25px 0;
        background-color: $orange60;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.offer-card {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    &__content {
        width: 100%;
        max-width: 370px;
        padding-left: 20px;
        color: $blue70;
    }

    &__img {
        max-width: 233px;
        max-height: 405px;
        margin-top: -130px;
        object-fit: contain;
    }

    &__title {
        max-width: 250px;
        margin-bottom: 15px;
        font-family: "DMSans", sans-serif;
        font-size: 26px;
        font-weight: 700;
        line-height: 1.2;

        @include l-clamp(2);
    }

    &__text {
        margin-bottom: 15px;
        font-family: "Rubik", sans-serif;
        font-weight: 400;

        @include l-clamp(5);
    }
}

.view-more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    padding: 15px 20px 15px;
    overflow: hidden;
    font-family: "Rubik", sans-serif;
    font-size: 15px;
    font-weight: 500;
    background-color: transparent;
    border: 1px solid $grey35;
    border-radius: 5px;
    box-shadow: 0 0 0;
    transition: background-color 0.3s, transform 0.3s, color 0.3s, box-shadow 0.3s;
    transform: scale(1);

    &__svg {
        width: 22px;
        height: 12px;
        fill: $blue60;
    }

    &:focus {
        transform: scale(1.2);
    }

    &:hover {
        color: #fff;
        background-color: $grey35;

        svg {
            fill: #fff;
        }
    }

    &:active {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
}

.product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;

    &__box {
        position: absolute;
        right: 0;
        bottom: 110px;
        display: flex;
        justify-content: center;
        width: 100%;
        opacity: 0;
        transition: opacity 0.3s;
    }

    &__text {
        margin-top: auto;
    }

    &__btn {
        background-color: $grey40;

        &:hover {
            background-color: $blue60;

            .product-card__svg {
                fill: #fff;
            }
        }

        &:not(:last-child) {
            margin-right: 15px;
        }
    }

    &:hover .product-card__box {
        opacity: 1;
    }

    &__svg {
        width: 22px;
        height: 22px;
        fill: $blue40;
        transition: fill 0.3s;
    }

    &__title {
        font-family: "DMSans", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: $blue70;
    }
}

.new-design {
    padding: 70px 0 120px;

    .container {
        padding: 0;
    }

    .title {
        margin-bottom: 25px;
        text-align: center;
    }

    .mix-filter {
        margin: 0 auto 80px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    &__item {
        max-width: 370px;
        margin: 0 15px 30px;
        font-family: "DMSans", sans-serif;
        font-weight: 700;
    }
}

.design-card {
    &__link {
        display: block;
        height: 246px;
        padding: 35px 0 30px 35px;
        background-color: $grey20;
        border-radius: 5px 5px 0 0;
        outline: transparent;
        transition: box-shadow 0.3s, transform 0.3s;
        transform: scale(1);

        &:focus {
            box-shadow: 0 0 10px 1px $blue70;
        }

        &:hover {
            box-shadow: 0 0 10px 1px $blue40;
        }

        &:active {
            transform: scale(1.1);
        }
    }

    &__title {
        max-width: 200px;
        margin-bottom: 10px;
        font-size: 20px;
        color: $black90;

        @include l-clamp(2);
    }

    &__picture {
        position: relative;
        display: inline-block;
        width: 325px;
        height: 130px;
        overflow: hidden;
    }

    &__category {
        color: $blue40;
    }

    &__content {
        display: flex;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 60px;
        display: block;
        width: 318px;
        height: 128px;
        object-fit: contain;
    }
}

.video-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    &__svg {
        z-index: 3;
        width: 25px;
        height: 25px;
        fill: #fff;
        transition: fill 0.3s;
    }

    &::before {
        position: absolute;
        z-index: 1;
        width: 127px;
        height: 127px;
        content: "";
        background-color: rgb(163, 187, 200);
        border-radius: 50%;
        opacity: 0.4;

    }

    &::after {
        position: absolute;
        z-index: 2;
        width: 98px;
        height: 98px;
        content: "";
        background-color: rgb(163, 187, 200);
        border-radius: 50%;
    }

    &:hover {
        &::before {
            background-color: rgb(146, 188, 211);
        }

        &::after {
            background-color: rgb(146, 188, 211);
        }

        svg {
            fill: $blue60;
        }
    }
}

.mixitup-control-active {
    color: $black90;
}

.form-subscribe {
    display: flex;
    margin-top: 25px;

    &__input {
        max-width: 170px;
        max-height: 40px;
        padding: 15px;
        color: #234969;
        background-color: $white90;
        border: 2px solid transparent;
        outline-color: transparent;
        box-shadow: 0 0 0 0;
        transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;

        &::placeholder {
            font-size: 12px;
            color: inherit;
        }

        &:focus {
            box-shadow: 0 0 20px rgba($grey90, 1);
        }

        &:hover {
            background-color: $orange70;
        }

        &:active {
            border-color: #234969;
        }
    }

    &__submit {
        min-width: 100px;
        color: #fff;
        background-color: $blue40;
        border: none;
    }
}

.footer {
    font-family: "DMSans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.2;
    color: $grey60;

    &__top {
        display: flex;
        align-items: start;
        justify-content: space-between;
        padding: 75px 0;
        border-bottom: 1px solid $blue30;
    }

    &__col {
        min-width: 300px;

        &--form {
            min-width: auto;
        }
    }

    &__logo {
        margin-bottom: 20px;
    }

    &__text--location {
        max-width: 200px;
    }

    &__before {
        text-transform: uppercase;
    }

    &__link {
        text-transform: none;
    }

    &__subtitle {
        display: block;
        margin: 15px 0 10px 0;
        font-family: "DMSans", sans-serif;
        font-size: 16px;
        font-weight: 700;
        color: $blue80;
        text-transform: uppercase;
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 90px;
    }

    &__links {
        display: flex;
    }

    &__links-item {
        padding: 0 14px;

        &:not(:last-child) {
            border-right: 1px solid grey;
        }
    }
}