.breadcrumbs {
    display: flex;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;

    &__item {
        position: relative;

        &:not(:last-child) {
            padding-right: 20px;

            &::after {
                position: absolute;
                top: 2px;
                right: 8px;
                content: "/";
            }
        }
    }
}