.header {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 12;
    padding: 45px 10px;
    background-color: #fff;
    transition: padding 0.3s, background-color 0.3s;

    @include media-w($lg) {
        padding: 15px 10px;
        background-color: $orange60;
    }

    &__nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        @include media-w($lg) {
            justify-content: unset;
        }
    }

    &--sticky {
        padding: 15px 10px;
        background-color: $orange60;
    }

    &__btn {
        display: none;
        padding: 2px 10px;
        background-color: transparent;
        border: none;
        fill: $blue70;
        transition: transform 0.3s;

        svg {
            max-width: 30px;
            max-height: 30px;
            vertical-align: middle;
        }

        @include media-w($lg) {
            display: block;
        }

        &--angle {
            margin-left: auto;
            transform: rotate(-90deg);
        }

        &--burger {
            margin-left: 15px;
        }

        &--rotate {
            transform: rotate(90deg);
        }
    }
}

.logo {
    display: inline-block;
    border: 1px solid transparent;
    outline-color: transparent;
    box-shadow: 0 0 0 0;
    transition: box-shadow 0.3s, transform 0.3s, border-color 0.3s;
    transform: scale(1);

    &__img {
        object-fit: contain;
        max-width: 150px;
        max-height: 40px;
    }

    &:focus {
        box-shadow: 0 0 20px rgba($grey90, 1);
    }

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        border-color: rgb(168, 166, 166);
    }
}

.menu-wrapper {
    margin-left: 180px;
    transition: transform 1s, display 1s;

    @include media-w($lg) {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 20;
        display: none;
        width: 100vw;
        margin-left: 0;
        background-color: rgba($grey80, 0.7);
        transform: translateX(-200%);
    }

    &--active {
        display: block;
        transform: translateX(0%);
    }
}

.menu {
    display: flex;
    font-family: "Rubik", sans-serif;
    font-weight: 500;

    @include media-w($xl) {
        margin-left: 0;
    }

    @include media-w($lg) {
        z-index: 2;
        flex-direction: column;
        width: 300px;
        height: 100vh;
        padding-top: 20px;
        overflow-y: auto;
        background-color: $orange70;
    }

    @include media-w($xs) {
        width: 250px;
    }

    &__item {
        @include media-w($lg) {
            padding: 0 10px;
        }

        &:not(:last-child) {
            margin-right: 35px;

            @include media-w($lg) {
                margin-right: 0;
                margin-bottom: 15px;
            }

            @include media-w($sm) {
                margin-bottom: 5px;
            }
        }
    }

    &__link {
        padding: 10px 0;

        @include media-w($lg) {
            display: block;
            font-size: 19px;
        }
    }
}

.user-nav {
    display: flex;
    transition: transform 0.3s, top 0.3s;

    @include media-w($lg) {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        justify-content: center;
        padding: 10px 0;
        background-color: #feefe2;
        transform: translateY(-400%);
    }

    svg {
        width: 18px;
        height: 16px;
        fill: $blue70;
        transition: fill 0.3s;
    }

    &__btn {
        &:not(:last-child) {
            margin-right: 20px;

            @include media-w($xs) {
                margin-right: 10px;
            }
        }

        &:hover {
            background-color: $blue40;

            svg {
                fill: #fff;
            }
        }
    }

    &__num {
        position: absolute;
        top: 10px;
        left: calc(50% + 3px);
        display: inline-block;
        padding: 0 6px;
        overflow-x: hidden;
        font-size: 10px;
        color: $blue70;
        text-align: center;
        background-color: #fff;
        border-radius: 8px;
    }

    &__links {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        text-align: center;

        @include media-w($xs) {
            margin-right: 10px;
        }
    }

    &__link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 50px;
        background-color: $bg-main;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 16px;
        border: 1px solid transparent;
        outline-color: transparent;
        box-shadow: 0 0 0 0;
        transition: background-color 0.3s, box-shadow 0.3s, border-color 0.3s;

        &:first-child {
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
        }

        &:last-child {
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
        }

        &:not(:last-child)::after {
            position: absolute;
            top: 10px;
            right: 0;
            display: block;
            width: 1px;
            height: 32px;
            content: "";
            background-color: $orange70;
        }

        &:focus {
            box-shadow: 0 0 20px rgba($grey90, 1);
        }

        &:hover {
            background-color: $orange70;
        }

        &:active {
            border-color: $grey90;
        }
    }

    &--active {
        top: 70px;
        transform: translateY(0%);
    }
}