.partners-slider {
    padding: 88px 0 85px;
    background-color: $orange50;

    @include media-w($md) {
        padding: 50px 0;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        height: 87px;
    }

    &__logo {
        object-position: center center;
        object-fit: contain;
        max-height: 87px;
        margin: auto;
    }
}