.top-row {
    height: 125px;
    font-size: 14px;
    color: $blue75;
    background-color: $blue20;

    &__inner {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    &__title {
        margin-bottom: 2px;
        font-family: 'DMSans', sans-serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 1.2;
    }
}