.catalogue {
  padding: 120px 0;

  @include media-w($md) {
    padding: 60px 0;
  }


  &__inner {
    display: flex;
    justify-content: space-between;

    @include media-w($md) {
      flex-direction: column;
    }

  }

  &__filters {
    max-width: 270px;
    width: 100%;
    margin-right: 30px;

    @include media-w($lg) {
      display: none;
      max-width: 100%;
      position: fixed;
      overflow-y: auto;
      z-index: 4;
      left: 0;
      padding: 20px;
      background-color: #fff;
      top: 70px;
      bottom: 0;
    }
  }

  &__btn {
    display: none;
    position: fixed;
    z-index: 5;
    right: 0;
    bottom: 50px;
    background-color: $blue40;
    padding: 0;
    border: none;
    width: 60px;
    height: 60px;

    @include media-w($lg) {
      display: block;
    }
  }

  &__svg {
    max-height: 25px;
    max-width: 25px;
    vertical-align: middle;
    fill: #fff;
  }

}

.catalogue-content {
  width: 100%;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    border: 1px solid $grey55;
    padding: 20px 25px 20px 30px;

    @include media-w($sm) {
      justify-content: flex-end;
    }


    @include media-w($xs) {
      flex-direction: column;
    }
  }

  &__products {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 75px;

    @include media-w($sm) {
      margin-bottom: 40px;
    }

    .product-card {
      &__price {
        color: $blue40;
      }
    }

    &--active {
      .catalogue-content {
        &__item {
          padding: 0;
          margin-bottom: 30px;
          max-width: unset;
          min-height: 500px;
          box-shadow: none;
          border: none;

          @include media-w($md) {
            flex-basis: unset;
            flex-grow: unset;
            margin-bottom: 5px;
          }

        }

      }

      .product-card {
        justify-content: unset;
        flex-direction: row;
        align-items: stretch;
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        color: $black70;

        @include media-w($md) {
          align-items: center;
        }

        &__inner {
          display: flex;
          margin-top: unset;
          width: 100%;
        }

        &__text {
          margin: auto 0;
          text-align: left;
        }

        &__rating {
          display: block;
        }

        &__box {
          display: none;
        }

        &__img-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid $grey57;
          height: 500px;
          min-width: 370px;
          margin-right: 55px;

          @include media-w($md) {
            height: 460px;
            margin-right: 30px;
            min-width: 300px;
          }
        }

        &__img {
          max-width: 325px;
          max-height: 340px;
          height: 100%;

          @include media-w($md) {
            max-width: 245px;
            max-height: 315px;
          }
        }

        &__title {
          font-size: 40px;
          color: inherit;
          line-height: 1.1;
        }

        &__rating {
          margin-bottom: 25px;
        }

        &__price {
          color: $black70;
          font-size: 30px;
          margin-bottom: 20px;
        }

        &__desc {
          display: block;
          color: $blue70;
          margin-bottom: 30px;

          @include l-clamp(10);

          @include media-w($md) {
            max-width: 450px;
          }

        }

        &__buttons {
          display: inline-flex;
        }

        &__button {
          width: 50px;
          height: 50px;

          svg {
            vertical-align: middle;
          }


          &:not(:last-child) {
            margin-right: 10px;
          }

          &:hover {
            background-color: $blue40;

            svg {
              fill: #fff;
            }
          }
        }
      }
    }
  }

  &__item {
    width: 100%;
    max-width: 270px;
    min-height: 380px;
    padding: 40px 20px 35px;
    margin: 0px 10px 30px;
    font-family: DMSans, sans-serif;
    font-weight: 700;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

    @include media-w($lg) {
      max-width: unset;
      flex-basis: 270px;
      flex-grow: 1;
    }
  }


}

.jq-selectbox {
  top: 5px;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 30px;
  }

  &__select {
    height: 32px;
    padding: 0 15px 0 10px;
    border: none;
    background: transparent;
    box-shadow: none;
    font: 14px/32px Arial, sans-serif;
    color: #9c9c9c;
    text-shadow: none;
    transition: color 0.3s;

    &:hover {
      background: transparent;
      color: $grey90;
    }
  }

  &__trigger {
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 100%;
    border-left: none;
  }

  &__trigger-arrow {
    position: absolute;
    top: 14px;
    right: 12px;
    width: 10px;
    height: 5px;
    border: none;
    background-image: url('../images/icons/arrow-down.svg');
    background-repeat: no-repeat;
  }

  ul {
    margin: 0 -1px;
    background-color: #fff;
    border: 1px solid $grey60;
    border-radius: 5px;
  }

  li {
    min-height: 44px;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    transition: color 0.3s, background-color 0.3s;

    &:hover {
      background-color: $grey35;
      color: #fff;
    }

  }

}