<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__col">
        <a class="logo footer__logo" href="#">
          <img class="logo__img" src="images/logo.png" alt="Site logo" />
        </a>

        <address class="footer__contact">
              <ul class="footer__contact-list">
                <li class="footer__text footer__text--location">
                  <a class="footer__link link-effect" href="#">
                    <span class="footer__before">address:</span>
                    4772 Wines Lane Houston, TX 77032
                  </a>
                </li>

                <li class="footer__text">
                  <a class="footer__link link-effect" href="tel:+8323475843">
                    <span class="footer__before">Telephone:</span>
                    +832-347-5843
                  </a>
                </li>

                <li class="footer__text">
                  <a class="footer__link link-effect" href="mailto:contact@Glee.com">
                    <span class="footer__before">Email:</span>
                    contact@Glee.com
                  </a>
                </li>
              </ul>
        </address>
      </div>

      <div class="footer__col">
        <span class="footer__subtitle">Services</span>

        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link link-effect" href="#">About us</a>
          </li>

          <li class="footer__item">
            <a class="footer__link link-effect" href="#">Return Policy</a>
          </li>

          <li class="footer__item">
            <a class="footer__link link-effect" href="#">Our Blog</a>
          </li>

          <li class="footer__item">
            <a class="footer__link link-effect" href="#">Contact Us</a>
          </li>

          <li class="footer__item">
            <a class="footer__link link-effect" href="#">Terms & Condition</a>
          </li>
        </ul>
      </div>

      <div class="footer__col">
        <span class="footer__subtitle">Account</span>

        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link link-effect" href="#">Your Account</a>
          </li>

          <li class="footer__item">
            <a class="footer__link link-effect" href="#">Checkout</a>
          </li>

          <li class="footer__item">
            <a class="footer__link link-effect" href="#">Login</a>
          </li>

          <li class="footer__item">
            <a class="footer__link link-effect" href="#">Register</a>
          </li>
        </ul>
      </div>

      <div class="footer__col footer__col--form">
        <span class="footer__subtitle">Newsletter</span>

        <div class="footer__text">
          <p>
            Subscribe by our newsletter and get update protidin.
          </p>
        </div>

        <form class="subscribe-form">
          <label class="subscribe-form__label">
              <span class="sr-only">Type your email address</span>
                <input class="subscribe-form__input" type="email" placeholder="Email address" name="email" required>
              </label>

          <button class="subscribe-form__submit btn-effect" type="submit">Subscribe</button>
        </form>
      </div>
    </div>

    <div class="footer__bottom">
      <p class="footer__text">©2020 CopyRight Example. All rights reserved.</p>

      <nav class="footer-nav">
        <ul class="footer__links">
          <li class="footer__links-item">
            <a class="footer__link link-effect" href="#">Home</a>
          </li>

          <li class="footer__links-item">
            <a class="footer__link link-effect" href="#">About</a>
          </li>

          <li class="footer__links-item">
            <a class="footer__link link-effect" href="#">Blog</a>
          </li>

          <li class="footer__links-item">
            <a class="footer__link link-effect" href="#">Contact</a>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</footer>