<header class="header">
  <div class="container container--big">
    <div class="header__inner">
      <nav class="header__nav">
        <a class="logo header__logo" href="#">
          <img class="logo__img" src="images/logo.png" alt="Site logo" />
        </a>

        <ul class="menu">
          <li class="menu__item">
            <a class="menu__link link-effect" href="#">Home +</a>
          </li>

          <li class="menu__item">
            <a class="menu__link link-effect" href="#">About</a>
          </li>

          <li class="menu__item">
            <a class="menu__link link-effect" href="#">Services</a>
          </li>

          <li class="menu__item">
            <a class="menu__link link-effect" href="#">Pages +</a>
          </li>

          <li class="menu__item">
            <a class="menu__link link-effect" href="#">News</a>
          </li>

          <li class="menu__item">
            <a class="menu__link link-effect" href="#">Contact</a>
          </li>
        </ul>

        <div class="user-nav">
          <button class="user-nav__btn circle-btn btn-effect" type="button">
            <svg>
                <use xlink:href="images/sprite.svg#search"></use>
            </svg>
            <span class="sr-only">
                Search what you are interested in on this website
            </span>
        </button>

          <div class="user-nav__links">
            <a class="user-nav__link" href="#">
              <svg>
                <use xlink:href="images/sprite.svg#heart"></use>
              </svg>
              <span class="sr-only">Check favourite products</span>
              <span class="user-nav__num">0</span>
            </a>

            <a class="user-nav__link" href="#">
              <svg>
                <use xlink:href="images/sprite.svg#cart"></use>
              </svg>
              <span class="sr-only">Check shopping cart</span>
              <span class="user-nav__num">0</span>
            </a>
          </div>

          <button class="user-nav__btn circle-btn btn-effect" type="button">
            <svg>
                <use xlink:href="images/sprite.svg#dots"></use>
            </svg>
            <span class="sr-only">Open menu</span>
        </button>
        </div>
      </nav>
    </div>
  </div>
</header>