<ul class="pagination">
    <li class="pagination__item pagination__item--prev pagination__item--disabled">
        <a class="pagination__link" href="#">
            <span class="sr-only">Move to previous page</span>
            Prev
        </a>
    </li>

    <li class="pagination__item pagination__item--active">
        <a class="pagination__link" href="#">
            <span class="sr-only">Move to page number 1</span>
            1
        </a>
    </li>

    <li class="pagination__item">
        <a class="pagination__link" href="#">
            <span class="sr-only">Move to page number 2</span>
            2
        </a>
    </li>

    <li class="pagination__item">
        <a class="pagination__link" href="#">
            <span class="sr-only">Move to page number 3</span>
            3
        </a>
    </li>

    <li class="pagination__item pagination__item--next">
        <a class="pagination__link" href="#">
            <span class="sr-only">Move to next page</span>
            Next
        </a>
    </li>
</ul>
