<section class="partners-slider">
  <div class="container">
    <ul class="partners-slider__list">
      <li class="partners-slider__item">
        <div class="partners-slider__wrapper">
          <img class="partners-slider__logo" src="images/partners-slider/1.png" alt="Partner logo">
        </div>
      </li>

      <li class="partners-slider__item">
        <div class="partners-slider__wrapper">
          <img class="partners-slider__logo" src="images/partners-slider/2.png" alt="Partner logo">
        </div>
      </li>

      <li class="partners-slider__item">
        <div class="partners-slider__wrapper">
          <img class="partners-slider__logo" src="images/partners-slider/3.png" alt="Partner logo">
        </div>
      </li>

      <li class="partners-slider__item">
        <div class="partners-slider__wrapper">
          <img class="partners-slider__logo" src="images/partners-slider/4.png" alt="Partner logo">
        </div>
      </li>

      <li class="partners-slider__item">
        <div class="partners-slider__wrapper">
          <img class="partners-slider__logo" src="images/partners-slider/5.png" alt="Partner logo">
        </div>
      </li>

      <li class="partners-slider__item">
        <div class="partners-slider__wrapper">
          <img class="partners-slider__logo" src="images/partners-slider/1.png" alt="Partner logo">
        </div>
      </li>

      <li class="partners-slider__item">
        <div class="partners-slider__wrapper">
          <img class="partners-slider__logo" src="images/partners-slider/2.png" alt="Partner logo">
        </div>
      </li>

      <li class="partners-slider__item">
        <div class="partners-slider__wrapper">
          <img class="partners-slider__logo" src="images/partners-slider/3.png" alt="Partner logo">
        </div>
      </li>

      <li class="partners-slider__item">
        <div class="partners-slider__wrapper">
          <img class="partners-slider__logo" src="images/partners-slider/4.png" alt="Partner logo">
        </div>
      </li>

      <li class="partners-slider__item">
        <div class="partners-slider__wrapper">
          <img class="partners-slider__logo" src="images/partners-slider/5.png" alt="Partner logo">
        </div>
      </li>
    </ul>
  </div>
</section>