.articles {
    position: relative;
    padding: 110px 0 0;
    color: $grey92;

    @include media-w($lg) {
        padding: 30px 0 0;
    }

    &::before {
        position: absolute;
        bottom: 0;
        z-index: -1;
        width: 100%;
        height: 170px;
        content: "";
        background-color: $orange50;

        @include media-w($lg) {
            content: none;
        }
    }

    &--about {
        padding-top: 0;
    }

    &__title {
        @include media-w($xs) {
            line-height: 1;
        }
    }

    &__top {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 35px;

        @include media-w($md) {
            margin-bottom: 10px;
        }
    }

    &__link {
        position: relative;
        display: inline-block;
        padding: 11px 25px 11px 5px;
        font-weight: 700;
        box-shadow: 0 0;
        transition: color 0.3s, box-shadow 0.3s;

        &:focus {
            box-shadow: 0 0 10px $grey90;
        }

        &:hover {
            text-decoration: underline;
        }

        &:active {
            color: $grey60;
            box-shadow: 0 0;
        }
    }

    &__svg {
        position: absolute;
        top: 50%;
        right: 0;
        width: 6px;
        height: 12px;
        transform: translateY(-50%);
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include media-w($lg) {
            justify-content: center;
        }
    }

    &__item {
        max-width: 370px;

        @include media-w($lg) {
            margin: 0 15px 15px;
        }

        @include media-w($xs) {
            width: 300px;
            margin: 0 0 25px;
        }
    }
}