.features {
  display: flex;
  color: $grey80;
  background-color: $white90;

  @include media-w($md) {
    flex-direction: column;
    align-items: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    min-height: 170px;

    @include media-w($md) {
      min-height: 135px;
    }


    &:not(:last-child) {
      border-right: 1px solid $grey50;

      @include media-w($md) {
        border: none;
      }
    }
  }

  &__content {
    position: relative;
    padding-left: 70px;

    &--support::before {
      background-image: url("../images/icons/support.png");
    }

    &--delivery::before {
      background-image: url("../images/icons/delivery.png");
    }

    &--payment::before {
      background-image: url("../images/icons/payment.png");
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 52px;
      height: 53px;
      content: "";
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
  }

  &__text {
    max-width: 214px;

    @include l-clamp(3);
  }

  &__subtitle {
    font-family: "DMSans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 2.2;

    @include l-clamp(1);
  }
}