.new-design {
    padding-bottom: 120px;

    @include media-w($md) {
        padding-bottom: 60px;
    }

    &__container {
        padding: 0;
    }

    &__title {
        margin-bottom: 25px;
        text-align: center;

        @include media-w($md) {
            margin-bottom: 10px;
        }
    }

    &__filter {
        margin: 0 auto 80px;

        @include media-w($md) {
            margin-bottom: 30px;
        }

        @include media-w($xs) {
            justify-content: center;
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    &__item {
        max-width: 370px;
        margin: 0 15px 30px;
        font-family: "DMSans", sans-serif;
        font-weight: 700;
    }
}