.top-slider {
    &__item {
        background-color: $bg-main;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 820px;
        margin: auto 0;
        margin-bottom: 15px;
    }

    &__info {
        max-width: 470px;
        margin-right: 60px;
        font-family: "Rubik", sans-serif;
        font-weight: 400;
        line-height: 1.6;
        color: $blue60;
    }

    &__title {
        margin-bottom: 25px;
        font-family: "Rubik", sans-serif;
        font-size: 72px;
        font-weight: 500;
        line-height: 1;
        color: $blue70;
        text-transform: uppercase;

        @include l-clamp(2);
    }

    &__text {
        max-width: 360px;
        margin-bottom: 40px;
        font-size: 18px;

        @include l-clamp(5);
    }

    &__picture {
        position: relative;
        z-index: 2;

        &::before {
            position: absolute;
            right: -100px;
            bottom: -195px;
            z-index: -1;
            display: block;
            width: 634px;
            height: 200%;
            content: "";
            background-image: linear-gradient(90deg, transparent 0%, #fff 100%);
            border-radius: 50%;
        }
    }

    &__img {
        object-fit: contain;
        width: 100%;
        max-width: 640px;
        height: 327px;
        max-height: 640px;
    }

    .slick-dots {
        position: absolute;
        bottom: 45px;
        display: flex;
        justify-content: center;
        width: 100%;
        font-family: "Rubik", sans-serif;
        font-size: 11px;
        font-weight: 500;

        li {
            button {
                width: 30px;
                height: 30px;
                background-color: #fff;
                border: 1px solid transparent;
                border-radius: 50%;
                opacity: 0.5;
                transition: opacity 0.3s, transform 0.3s, border-color 0.3s;
                transform: scale(1);

                &:focus {
                    transform: scale(1.2);
                }

                &:hover {
                    opacity: 1;
                }

                &:active {
                    border-color: $blue60;
                }
            }

            &.slick-active button {
                opacity: 1;
            }
        }

        li:not(:last-child) {
            margin-right: 13px;
        }
    }
}