.video-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include media-w($md) {
        height: 320px;
    }

    &__svg {
        z-index: 3;
        width: 25px;
        height: 25px;
        fill: #fff;
        transition: fill 0.3s;

        @include media-w($md) {
            width: 18px;
            height: 18px;
        }
    }

    &::before {
        position: absolute;
        z-index: 1;
        width: 127px;
        height: 127px;
        content: "";
        background-color: rgb(163, 187, 200);
        border-radius: 50%;
        opacity: 0.4;

        @include media-w($md) {
            width: 100px;
            height: 100px;
        }
    }

    &::after {
        position: absolute;
        z-index: 2;
        width: 98px;
        height: 98px;
        content: "";
        background-color: rgb(163, 187, 200);
        border-radius: 50%;

        @include media-w($md) {
            width: 80px;
            height: 80px;
        }
    }

    &:hover {
        &::before {
            background-color: rgb(146, 188, 211);
        }

        &::after {
            background-color: rgb(146, 188, 211);
        }

        svg {
            fill: $blue60;
        }
    }
}