.blog-post {
  font-family: 'Rubik', sans-serif;

  &__content {
    h2 {
      margin-bottom: 10px;
      font-size: 36px;
      font-weight: 400;
      color: $black70;

      @include media-w($md) {
        font-size: 26px;
      }
    }

    h3 {
      margin-bottom: 15px;
      font-size: 16px;
      font-weight: 500;
      color: $blue70;
    }

    blockquote {
      padding: 20px 120px 20px 35px;
      margin: 40px 0;
      color: $blue70;
      background-color: $blue20;
      border-left: 6px solid $blue40;

      @include media-w($md) {
        padding-right: 20px;
      }
    }

    cite {
      position: relative;
      display: block;
      padding-left: 45px;
      margin-top: 10px;
      font-style: normal;
      color: $blue70;

      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        width: 20px;
        height: 3px;
        content: "";
        background-color: $blue40;
        transform: translateY(-50%);
      }
    }

    img {
      float: left;
      max-width: 320px;
      max-height: 210px;
      margin-right: 30px;
      margin-bottom: 40px;
      object-fit: contain;

      @include media-w($md) {
        float: unset;
        max-width: 100%;
        margin-right: 0;
      }
    }

    img ~ h3 {
      clear: left;
      font-size: 18px;
    }

    img + h3 {
      padding-top: 20px;
      clear: right;
    }

    p {
      &:last-child {
        margin-bottom: 60px;
      }
    }
  }

  &__comments {
    padding: 55px 0 85px;

    @include media-w($md) {
      padding: 30px 0;
    }
  }

  &__subtitle {
    margin-bottom: 47px;
    font-size: 24px;
    font-weight: 500;
    color: $blue60;

    &--form {
      margin-bottom: 35px;
    }
  }
}

.author-info {
  display: flex;
  align-items: center;
  padding: 25px 30px 25px 0;
  border-top: 2px solid $grey55;
  border-bottom: 2px solid $grey55;

  @include media-w($md) {
    flex-direction: column;
  }

  &__avatar {
    margin-right: 30px;

    @include media-w($md) {
      margin-right: 0;
    }
  }

  &__text {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include media-w($md) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__name {
    font-size: 18px;
    color: $black70;
  }

  &__position {
    color: $black65;
  }

  &__box {
    display: flex;
    color: $black55;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__word {
    margin-right: 25px;
    color: $black70;

    &--sm {
      margin-right: 20px;
    }
  }

  &__link {
    outline-color: transparent;
    box-shadow: 0 0;
    transition: color 0.3s, box-shadow 0.3s, transform 0.3s;
    transform: scale(1);

    &:focus {
      box-shadow: 0 0 10px $black70;
    }

    &:hover {
      color: $black70;
    }

    &:active {
      box-shadow: 0 0;
      transform: scale(1.1);
    }
  }

  &__items {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__icon {
    box-shadow: 0 0;
    fill: $black45;
    transition: fill 0.3s, box-shadow 0.3s;

    &:focus {
      box-shadow: 0 0 10px $black70;
    }

    &:hover {
      fill: $black70;
    }

    &:active {
      svg {
        box-shadow: 0 0;
        transform: scale(1.5);
      }
    }
  }

  &__svg {
    transition: transform 0.3s;
    transform: scale(1);
  }
}