.product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;

    &__box {
        position: absolute;
        right: 0;
        bottom: 110px;
        display: flex;
        justify-content: center;
        width: 100%;
        opacity: 0;
        transition: opacity 0.3s;
    }

    &__img {
        object-fit: contain;
        max-width: 230px;
        max-height: 206px;
    }

    &__inner {
        margin-top: auto;
    }

    &__rating {
        display: none;
    }

    &__svg {
        width: 18px;
        height: 18px;
        fill: $blue40;
        transition: fill 0.3s;
    }

    &__btn {
        background-color: $grey40;

        &:hover {
            background-color: $blue60;

            svg {
                fill: #fff;
            }
        }

        &:not(:last-child) {
            margin-right: 15px;
        }
    }

    &:hover .product-card__box {
        opacity: 1;
    }

    &__price {
        @include l-clamp(1);
    }

    &__title {
        font-family: "DMSans", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: $blue70;

        @include l-clamp(3);
    }

    &__desc {
        display: none;
    }

    &__buttons {
        display: none;
        padding: 18px 25px;
        background-color: #fbfbfb;
        border-radius: 30px;
    }

    &__button {
        background-color: #fff;
    }
}