.team-card {
    position: relative;
    max-width: 370px;
    height: 320px;

    @include media-w($md) {
        max-width: 320px;
    }

    &__title {
        font-size: 22px;
        color: $blue60;

        @include l-clamp(1);
    }

    &__position {
        font-family: 'Rubik', sans-serif;
        color: #565872;

        @include l-clamp(1);
    }

    &__btn {
        width: 40px;
        height: 40px;
        background-color: #f6f6f6;
        transition: background-color 0.3s;

        &:not(:last-child) {
            margin-right: 7px;
        }

        &:hover {
            background-color: $blue50;

            svg {
                fill: #fff;
            }
        }
    }

    &__img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
    }

    &__svg {
        width: 18px;
        height: 18px;
        fill: rgb(136, 136, 136);
        transition: fill 0.3s;
    }

    &__info {
        position: absolute;
        top: 270px;
        right: 45px;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px;
        background-color: #fff;
        box-shadow: 0 6px 57px 0 rgba(37, 37, 37, 0.05);

        @include media-w($sm) {
            right: 0;
            flex-direction: column;
            padding: 15px;
            text-align: center;
        }
    }

    &__personal {
        @include media-w($xs) {
            margin-bottom: 10px;
        }
    }

    &__buttons {
        display: flex;
    }
}